.mypy_cache/
.venv/
__pycache__/
ssh/
ssh
web_scraper_api/cache/
web_scraper_api/log/
web_scraper_api/screenshot/
web_scraper_api/selenium/chrome-*
web_scraper_api/selenium/chrome-*.zip
web_scraper_api/selenium/chromedriver-*
web_scraper_api/selenium/chromedriver-*.zip
web_scraper_api/config/sphinx/_build/
web_scraper_api/config/sphinx/*.rst
!web_scraper_api/config/sphinx/index.rst