PyYAML
bs4
flask
flask_cors
jsonschema
langdetect
nltk
pandas
pandas-stubs
pickle5
requests
retrying
selenium
thefuzz
types-Flask-Cors
types-PyYAML
types-beautifulsoup4
types-colorama
types-jsonschema
types-requests
types-retry
uwsgi 
